<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add connectionString="HomeCinema" name="Data Source=;InitialCatalog=HomeCinema;Integrated Security=SSPI; MultipleActiveResultSets=true;"
         providerName="System.Data.MySQLClient" />
  </connectionStrings>
</configuration>